body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    text-align: center;
    padding: 1.5em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.post-date {
    font-style: italic;
    color: #555;
}

article {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: .5em;
}

footer p {
    font-size: .8em;
    color: #666;
}
