/* Style the links inside the navigation bar */
.topnav {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, serif-pro;
  overflow: hidden;
}

body {
  font-family: 'Arial', sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.circle {
  border-radius: 50%; 
  overflow: hidden; 
  max-height: 250px;
  max-width: 250px;
  margin: auto;
  width: 250px;
  height: 250px;
  }

.circle img {
  display: block; 
  object-fit: cover;
  width: 250px;
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .body-text {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.7px;
  }
}

.center {
  text-align: center;
  font-family: Arial, serif-pro;
  min-height: 100vh;
}

/* Define the main Navigation block */
.MyNav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, serif-pro;
  color: darkgray;
}

.MyNav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkgray;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.MyNav a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.MyNav a:visited {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color: darkgray;
  background-color: darkgray;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.responsive-iframe {
  position: relative;
  display: inline-block;
  border: none;
  width: 100%;
  height: 1200px;
  zoom: 1.25; /* Adjust the zoom factor as needed to make the content inside the iframe more visible */
}

/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
