<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/blogs/blog_post.css' | relative_url }}">
    <link rel="icon" href="{{ '/photos/IMG_0043.JPG' | relative_url }}" type="image/jpeg">
</head>
<body>
    <header>
        <h1>{{ page.heading | default: "my writing" }}</h1>
        <hr>
        <div class="MyNav">
            <a href="{{ '/index.html' | relative_url }}">home</a>
            <a href="{{ '/blogs/writing.html' | relative_url }}">writing</a>
        </div>
        <hr>
    </header>
    <article>
        {{ content }}
    </article>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} andrewrrandall.com. All rights reserved.</p>
    </footer>
</body>
</html>
